doctype html
html(lang='en-US')
  link(rel='stylesheet',href='/bower_components/bootstrap/dist/css/bootstrap.min.css') 	
  link(rel='stylesheet',href='/css/main.css')
  script(src="/bower_components/angular/angular.js")
  script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
  script(src='/bower_components/paper/dist/paper-full.min.js')
  script(src='/js/adapter.js')
  script(src='socket.io/socket.io.js')
  script(src='/js/main.js')
  script(src='/js/socket-factory.js')
  script(src='/js/states.js')
  script(src='/js/socket-factory.js')
  script(src='/js/draw-factory.js')
  script(src='/js/pc-factory.js')
  script(src='/js/videostream-factory.js')
  script(src='/bower_components/angular-bootstrap/ui-bootstrap.js')


  body(ng-app='mainApp')
    div
      div(ui-view)